################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/App/SoftUpdater/.vs/SoftUpdater
/App/SoftUpdater/Common/bin/Debug/netcoreapp3.1
/App/SoftUpdater/Common/obj
/App/SoftUpdater/Db/bin/Debug/netcoreapp3.1
/App/SoftUpdater/Db/obj
/App/SoftUpdater/Deploy/bin/Debug/netcoreapp3.1
/App/SoftUpdater/Deploy/obj
/App/SoftUpdater/SoftUpdater/bin/Debug/netcoreapp3.1
/App/SoftUpdater/SoftUpdater/obj
/App/SoftUpdater/Contract/obj
/App/SoftUpdater/Service/bin/Debug/netcoreapp3.1
/App/SoftUpdater/Service/obj
/App/SoftUpdater/DbClient/obj
/App/SoftUpdater/SoftUpdaterClient/bin/Debug/netcoreapp3.1
/App/SoftUpdater/SoftUpdaterClient/obj
/App/SoftUpdater/Contract/bin/Debug/netcoreapp3.1
/App/SoftUpdater/DbClient/bin/Debug/netcoreapp3.1
/App/SoftUpdater/ClientHttpClient/bin/Debug/netcoreapp3.1
/App/SoftUpdater/ClientHttpClient/obj
/App/SoftUpdater/HttpClient/obj
/App/SoftUpdater/UnitTests/bin/Debug/netcoreapp3.1
/App/SoftUpdater/UnitTests/obj
/Docs/TechTask/0.0.1/~$chTask 0.0.13.docx
