@model SoftUpdater.Contract.Model.ReleaseArchitectCreator

@{
    ViewData["Title"] = "Добавить архитектуру";
}

<h1>@ViewData["Title"]</h1>

<hr />
<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ReleaseId" class="form-control" />
            <div class="form-group">
                <label asp-for="Release" class="control-label"></label>
                <input asp-for="Release" disabled class="form-control" id="formula" />
                <span asp-validation-for="ReleaseId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Path" class="control-label"></label>
                <input asp-for="Path" class="form-control" />
                <span asp-validation-for="Path" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="File" class="control-label"></label>
                <input asp-for="File" type="file" class="form-control" />
                <span asp-validation-for="File" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.ActionLink("Выбрать релиз", "ListSelect", "Release",
                    new { },
                    new { @class = "btn btn-dark", @id = "release_select" })
                <input type="submit" value="Добавить" class="btn btn-dark" />
                @Html.ActionLink("Вернуться", "Index", new { releaseId = Model.ReleaseId }, new { @class = "btn btn-dark" })
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    
    <script type="text/javascript">
        function setReleaseId(client_id, client) {
            $("#ReleaseId").text(client_id);
            $("#Release").text(client);
            $('#modDialog').modal('hide');
        }

        $(function () {
            $.ajaxSetup({ cache: false });
            $("#release_select").click(function (e) {
                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                });
            });
        })
    </script>
}
